<!--    github.com/dieulot/jvforum    -->

<!doctype html>
<html lang="fr" {{? /\((iPhone|iPod|iPad)/.test(it.userAgent) }}class="is-ios"{{?}}>
<meta charset="utf-8">
<title>{{!it.title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/assets/stylesheet--{{=it.cacheBusting.css.checksum}}.css" data-instant-track>
<link class="js-favicon" rel="icon" href="/images/favicon.png">
<meta name="format-detection" content="telephone=no">
<meta name="theme-color" content="hsl(240, 8%, 13%)">
