{{#def.layoutHead}}
<body class="forum-{{=it.id}}">
<div class="canvas">
{{#def.header}}
<div class="sheet">
  <div class="content">
    {{? !it.error }}
      <h1 class="page-title page-title--larger page-title--with-menu-mobile">
        <a class="page-title__link page-title__link--with-refresh-icon" href="/{{=it.id}}-{{=it.slug}}">{{!it.name}}</a>
      </h1>
      <div class="menu-mobile">
        <div class="menu-mobile__opener"></div>
        <template id="menu-mobile-items">
          <div class="menu-mobile-items">
            {{? !it.isFavorite }}
              <span class="js-favorite-toggle js-favorite-toggle-label menu-mobile-items__item" data-action="add">Mettre en favoris</span>
            {{??}}
              <span class="js-favorite-toggle js-favorite-toggle-label menu-mobile-items__item" data-action="delete">Retirer des favoris</span>
            {{?}}
            <a class="menu-mobile-items__item" href="{{=it.urlJvc}}" target="_blank">Ouvrir sur JVC</a>
          </div>
        </template>
      </div>
      {{? it.page > 1}}
        <div class="forum-pagination">
          {{? it.page > 2}}
            <a class="forum-pagination__link forum-pagination__link--first" href="/{{=it.id}}-{{=it.slug}}">Première page</a>
          {{?}}
          {{? it.page > 1}}
            <a class="forum-pagination__link forum-pagination__link--previous" href="/{{=it.id}}-{{=it.slug}}{{? it.page - 1 > 1}}/{{=it.page - 1}}{{?}}">Page précédente</a>
          {{?}}
          {{? it.hasNextPage}}
            <a class="forum-pagination__link forum-pagination__link--next" href="/{{=it.id}}-{{=it.slug}}/{{=it.page + 1}}">Page suivante</a>
          {{?}}
        </div>
      {{?}}
      <div class="liste-topics">
        {{~it.topics :t:index}}
          {{? t.label != 'ghost' }}
            <a class="topic {{? t.hasBeenVisited}} topic--visited {{?}}" href="/{{=it.id}}/{{=t.idJvf}}-{{=t.slug}}{{=t.position}}">
              <div class="topic__label topic__label--{{=t.label}}"></div>
              <div class="topic__text-container">
                <div class="topic__title">
                  {{? t.hasNewMessages}}
                    <span class="topic__new-messages-indicator"></span>
                  {{?}}
                  {{!t.title}}
                </div>
                <div class="topic__infos">
                  <div class="topic__author topic__author--{{=t.status}}">{{=t.nickname}}</div>
                  <div class="topic__date-and-nb-answers-container">
                    <div class="topic__nb-answers">{{=t.answerCount}}</div>
                    <div class="topic__date">{{=t.date}}</div>
                  </div>
                </div>
              </div>
              <div class="topic__title topic__title--desktop">
                {{? t.hasNewMessages}}
                  <span class="topic__new-messages-indicator"></span>
                {{?}}
                {{!t.title}}
              </div>
              <div class="topic__author topic__author--{{=t.status}} topic__author--desktop">{{=t.nickname}}</div>
              <div class="topic__nb-answers topic__nb-answers--desktop">{{=t.answerCount}}</div>
              <div class="topic__date topic__date--desktop">{{=t.date}}</div>
            </a>
          {{?}}
        {{~}}
      </div>
      {{? it.page > 1 || it.hasNextPage}}
        <div class="forum-pagination">
          {{? it.page > 2}}
            <a class="forum-pagination__link forum-pagination__link--first" href="/{{=it.id}}-{{=it.slug}}">Première page</a>
          {{?}}
          {{? it.page > 1}}
            <a class="forum-pagination__link forum-pagination__link--previous" href="/{{=it.id}}-{{=it.slug}}{{? it.page - 1 > 1}}/{{=it.page - 1}}{{?}}">Page précédente</a>
          {{?}}
          {{? it.hasNextPage}}
            <a class="forum-pagination__link forum-pagination__link--next" href="/{{=it.id}}-{{=it.slug}}/{{=it.page + 1}}">Page suivante</a>
          {{?}}
        </div>
      {{?}}
      {{? !it.isLocked }}
        <form class="js-form-post form form--post">
          <div class="js-form-post__draft-mention form__draft-mention">
            <span class="js-form-post__draft-mention-action form__draft-mention-action">Effacer le brouillon</span>
          </div>
          <div class="js-form-post__error form__error"></div>
          <div class="form__bottom-container">
            <div class="form__inputs-container">
              <input class="js-form-post__title form__input form__title" placeholder="Titre de votre sujet" tabindex="1" required>
              <textarea class="js-form-post__textarea form__input form__textarea" placeholder="Saisissez votre {{=it.superlative}} message." tabindex="2" required></textarea>
            </div>
            <div class="form__actions">
              <button class="form__post-button" type="submit" tabindex="3">
                <div class="js-form-post__button-visible form__post-button-visible">
                  <div class="form__post-button-icon"></div>
                </div>
              </button>
              <a class="form__stickers-button" href="/stickers#bottom" tabindex="4" draggable="false"></a>
            </div>
          </div>
        </form>
      {{??}}
        <div class="card">Forum verrouillé</div>
      {{?}}
    {{??}}
      <div class="error">
        {{? it.error == 'timeout'}}
          <h1 class="error__title">Timeout</h1>
          <div class="error__message">
            <p>La page sur JVC mettait trop de temps à charger, elle a été arrêtée.</p>
            <p>
              <a class="button" href="/{{=it.id}}-{{=it.slug}}{{? it.page > 1 }}/{{=it.page}}{{?}}">
                <span class="button__visible button__visible--primary">Réessayer</span>
              </a>
            </p>
          </div>
        {{?? it.error == 'network'}}
          <h1 class="error__title">Erreur réseau</h1>
          <div class="error__message">
            <p>La page n’a pas pu être récupérée depuis JVC. ({{=it.errorDetail}})</p>
            <p>
              <a class="button" href="/{{=it.id}}-{{=it.slug}}{{? it.page > 1 }}/{{=it.page}}{{?}}">
                <span class="button__visible button__visible--primary">Réessayer</span>
              </a>
            </p>
          </div>
        {{?? it.error == 'forumDoesNotExist'}}
          <h1 class="error__title">Forum inexistant</h1>
        {{?? it.error == '103'}}
          <h1 class="error__title">Forum privé</h1>
          <div class="error__message">
            Ce forum est réservé aux modérateurs.
          </div>
        {{?? it.error == 'unknownRedirect'}}
          <h1 class="error__title">Problème inconnu avec ce forum</h1>
          <div class="error__message">
            Il redirige vers #{errorLocation}
          </div>
        {{??}}
          <h1 class="error__title">JVC n’arrive pas à servir la page (erreur {{=it.error}})</h1>
          <p>
            <a class="button" href="/{{=it.id}}-{{=it.slug}}{{? it.page > 1 }}/{{=it.page}}{{?}}">
              <span class="button__visible button__visible--primary">Réessayer</span>
            </a>
          </p>
        {{?}}
      </div>
    {{?}}
  </div>
  {{? !it.error && it.subforumsIds.length}}
    <div class="menu mobile">
      {{? it.parentId}}
        <a class="menu__item" href="/{{=it.parentId}}-{{=it.forumSlugs[it.parentId]}}">{{!it.forumNames[it.parentId]}}
      {{??}}
        <a class="menu__item" href="/{{=it.id}}-{{=it.slug}}">{{!it.name}}</a>
      {{?}}
      {{~it.subforumsIds :sId:index}}
        <a class="menu__item" href="/{{=sId}}-{{=it.forumSlugs[sId]}}">{{!it.forumNames[sId]}}</a>
      {{~}}
    </div>
  {{?}}
  <aside class="aside">
    {{? !it.error}}
      <div class="aside__top-buttons">
        {{? !it.isFavorite }}
          <span class="js-favorite-toggle aside__top-button aside__top-button--favorite" data-action="add">
            <span class="js-favorite-toggle-label aside__top-button-label">Mettre en favoris</span>
          </span>
        {{??}}
          <span class="js-favorite-toggle aside__top-button aside__top-button--unfavorite" data-action="delete">
            <span class="js-favorite-toggle-label aside__top-button-label">Retirer des favoris</span>
          </span>
        {{?}}
        <a class="aside__top-button aside__top-button--open-jeuxvideocom" href={{=it.urlJvc}} target="_blank">
          <span class="aside__top-button-label">Ouvrir sur JVC</span>
        </a>
      </div>
    {{?}}
    <div class="aside__menu menu">
      {{? it.favorites && it.favorites.forums.length }}
        {{~it.favorites.forums :a}}
          <a class="menu__item" href="{{=a[0]}}">{{=a[1]}}</a>
        {{~}}
      {{??}}
        <span class="menu__item menu__item--blank-state">Aucun forum favori</span>
      {{?}}
    </div>
    <div class="aside__menu menu">
      {{? it.favorites && it.favorites.topics.length }}
        {{~it.favorites.topics :a}}
          <a class="menu__item" href="{{=a[0]}}">{{=a[1]}}</a>
        {{~}}
      {{??}}
        <span class="menu__item menu__item--blank-state">Aucun topic favori</span>
      {{?}}
    </div>
    {{? it.subforumsIds.length }}
      <div class="menu aside__menu">
        {{? it.parentId }}
          <a class="menu__item" href="/{{=it.parentId}}-{{=it.forumSlugs[it.parentId]}}">{{!it.forumNames[it.parentId]}}</a>
        {{??}}
          <a class="menu__item" href="/{{=it.id}}-{{=it.slug}}">{{!it.name}}</a>
        {{?}}
        {{~it.subforumsIds :sId:index}}
          <a class="menu__item" href="/{{=sId}}-{{=it.forumSlugs[sId]}}">{{!it.forumNames[sId]}}</a>
        {{~}}
      </div>
    {{?}}
  </aside>
</div>
</div>
<script data-instant-restore>
  var forumId = {{=it.id}}
    , forumSlug = '{{=it.slug}}'
    , _csrf = "{{=it.csrf}}";
</script>
{{#def.layoutFoot}}
