{{#def.layoutHead}}
<div class="canvas">
{{#def.header}}
<div class="sheet">
  <div class="content content--no-aside">
    <div class="forum-search">
      <input class="input forum-search__input" placeholder="Entrez le nom du forum">
      <div class="forum-search__output">
        <a class="forum-search__result" href="/51-blabla-18-25-ans">
          <div class="forum-search__result-title">Blabla 18-25 ans</div>
          <div class="forum-search__result-messages">
            <span class="forum-search__result-messages-figure">56 950</span>
            <span class="forum-search__result-messages-text">messages<br>/ semaine</span>
          </div>
        </a>
        <a class="forum-search__result" href="/51-blabla-18-25-ans">
          <div class="forum-search__result-title">Blabla 15-18 ans</div>
          <div class="forum-search__result-messages">
            <span class="forum-search__result-messages-figure">5 695</span>
            <span class="forum-search__result-messages-text">messages<br>/ semaine</span>
          </div>
        </a>
        <a class="forum-search__result" href="/51-blabla-18-25-ans">
          <div class="forum-search__result-title">Guerre des consoles</div>
          <div class="forum-search__result-messages">
            <span class="forum-search__result-messages-figure">5 395</span>
            <span class="forum-search__result-messages-text">messages<br>/ semaine</span>
          </div>
        </a>
        <a class="forum-search__result" href="/51-blabla-18-25-ans">
          <div class="forum-search__result-title">Blabla 18-25 ans</div>
          <div class="forum-search__result-messages">
            <span class="forum-search__result-messages-figure">56 950</span>
            <span class="forum-search__result-messages-text">messages<br>/ semaine</span>
          </div>
        </a>
        <a class="forum-search__result" href="/51-blabla-18-25-ans">
          <div class="forum-search__result-title">Blabla 15-18 ans</div>
          <div class="forum-search__result-messages">
            <span class="forum-search__result-messages-figure">5 695</span>
            <span class="forum-search__result-messages-text">messages<br>/ semaine</span>
          </div>
        </a>
        <a class="forum-search__result" href="/51-blabla-18-25-ans">
          <div class="forum-search__result-title">Guerre des consoles</div>
          <div class="forum-search__result-messages">
            <span class="forum-search__result-messages-figure">5 395</span>
            <span class="forum-search__result-messages-text">messages<br>/ semaine</span>
          </div>
        </a>
        <a class="forum-search__result" href="/51-blabla-18-25-ans">
          <div class="forum-search__result-title">Blabla 18-25 ans</div>
          <div class="forum-search__result-messages">
            <span class="forum-search__result-messages-figure">56 950</span>
            <span class="forum-search__result-messages-text">messages<br>/ semaine</span>
          </div>
        </a>
        <a class="forum-search__result" href="/51-blabla-18-25-ans">
          <div class="forum-search__result-title">Blabla 15-18 ans</div>
          <div class="forum-search__result-messages">
            <span class="forum-search__result-messages-figure">5 695</span>
            <span class="forum-search__result-messages-text">messages<br>/ semaine</span>
          </div>
        </a>
        <a class="forum-search__result" href="/51-blabla-18-25-ans">
          <div class="forum-search__result-title">Guerre des consoles</div>
          <div class="forum-search__result-messages">
            <span class="forum-search__result-messages-figure">5 395</span>
            <span class="forum-search__result-messages-text">messages<br>/ semaine</span>
          </div>
        </a>
        <a class="forum-search__result" href="/51-blabla-18-25-ans">
          <div class="forum-search__result-title">Blabla 18-25 ans</div>
          <div class="forum-search__result-messages">
            <span class="forum-search__result-messages-figure">56 950</span>
            <span class="forum-search__result-messages-text">messages<br>/ semaine</span>
          </div>
        </a>
        <a class="forum-search__result" href="/51-blabla-18-25-ans">
          <div class="forum-search__result-title">Blabla 15-18 ans</div>
          <div class="forum-search__result-messages">
            <span class="forum-search__result-messages-figure">5 695</span>
            <span class="forum-search__result-messages-text">messages<br>/ semaine</span>
          </div>
        </a>
        <a class="forum-search__result" href="/51-blabla-18-25-ans">
          <div class="forum-search__result-title">Guerre des consoles</div>
          <div class="forum-search__result-messages">
            <span class="forum-search__result-messages-figure">5 395</span>
            <span class="forum-search__result-messages-text">messages<br>/ semaine</span>
          </div>
        </a>
        <a class="forum-search__result" href="/51-blabla-18-25-ans">
          <div class="forum-search__result-title">Blabla 18-25 ans</div>
          <div class="forum-search__result-messages">
            <span class="forum-search__result-messages-figure">56 950</span>
            <span class="forum-search__result-messages-text">messages<br>/ semaine</span>
          </div>
        </a>
        <a class="forum-search__result" href="/51-blabla-18-25-ans">
          <div class="forum-search__result-title">Blabla 15-18 ans</div>
          <div class="forum-search__result-messages">
            <span class="forum-search__result-messages-figure">5 695</span>
            <span class="forum-search__result-messages-text">messages<br>/ semaine</span>
          </div>
        </a>
        <a class="forum-search__result" href="/51-blabla-18-25-ans">
          <div class="forum-search__result-title">Guerre des consoles</div>
          <div class="forum-search__result-messages">
            <span class="forum-search__result-messages-figure">5 395</span>
            <span class="forum-search__result-messages-text">messages<br>/ semaine</span>
          </div>
        </a>
        <a class="forum-search__result" href="/51-blabla-18-25-ans">
          <div class="forum-search__result-title">Blabla 18-25 ans</div>
          <div class="forum-search__result-messages">
            <span class="forum-search__result-messages-figure">56 950</span>
            <span class="forum-search__result-messages-text">messages<br>/ semaine</span>
          </div>
        </a>
        <a class="forum-search__result" href="/51-blabla-18-25-ans">
          <div class="forum-search__result-title">Blabla 15-18 ans</div>
          <div class="forum-search__result-messages">
            <span class="forum-search__result-messages-figure">5 695</span>
            <span class="forum-search__result-messages-text">messages<br>/ semaine</span>
          </div>
        </a>
        <a class="forum-search__result" href="/51-blabla-18-25-ans">
          <div class="forum-search__result-title">Guerre des consoles</div>
          <div class="forum-search__result-messages">
            <span class="forum-search__result-messages-figure">5 395</span>
            <span class="forum-search__result-messages-text">messages<br>/ semaine</span>
          </div>
        </a>
        <a class="forum-search__result" href="/51-blabla-18-25-ans">
          <div class="forum-search__result-title">Blabla 18-25 ans</div>
          <div class="forum-search__result-messages">
            <span class="forum-search__result-messages-figure">56 950</span>
            <span class="forum-search__result-messages-text">messages<br>/ semaine</span>
          </div>
        </a>
        <a class="forum-search__result" href="/51-blabla-18-25-ans">
          <div class="forum-search__result-title">Blabla 15-18 ans</div>
          <div class="forum-search__result-messages">
            <span class="forum-search__result-messages-figure">5 695</span>
            <span class="forum-search__result-messages-text">messages<br>/ semaine</span>
          </div>
        </a>
        <a class="forum-search__result" href="/51-blabla-18-25-ans">
          <div class="forum-search__result-title">Guerre des consoles</div>
          <div class="forum-search__result-messages">
            <span class="forum-search__result-messages-figure">5 395</span>
            <span class="forum-search__result-messages-text">messages<br>/ semaine</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
</div>
<script>
  var _csrf = "{{=it.csrf}}";
</script>
{{#def.layoutFoot}}
