{{#def.layoutHead}}
<div class="canvas">
{{#def.header}}
<div class="sheet">
  <div class="content content--no-aside">
    <div class="menu">
      {{? it.favorites && it.favorites.forums.length }}
        {{~it.favorites.forums :a}}
          <a class="menu__item" href="{{=a[0]}}">{{=a[1]}}</a>
        {{~}}
      {{??}}
        <span class="menu__item menu__item--blank-state">Aucun forum favori</span>
      {{?}}
    </div>
    <div class="menu">
      {{? it.favorites && it.favorites.topics.length }}
        {{~it.favorites.topics :a}}
          <a class="menu__item" href="{{=a[0]}}">{{=a[1]}}</a>
        {{~}}
      {{??}}
        <span class="menu__item menu__item--blank-state">Aucun topic favori</span>
      {{?}}
    </div>
    <div class="home-bottom">
      <a class="js-logout-link button" href="/logout?_csrf={{=it.csrf}}" data-no-instant>
        <span class="button__visible button__visible--flat button__visible--danger">Déconnexion</span>
      </a>
    </div>
  </div>
</div>
</div>
<script>
  var _csrf = "{{=it.csrf}}";
</script>
{{#def.layoutFoot}}
