{{#def.layoutHead}}
<body class="body--profile"
{{? it.backgroundCover}}
  style="background-image: url('https://image.noelshack.com/fichiers{{=it.backgroundCover}}');"
{{?}}
>
<div class="canvas">
<div class="profile">

  {{? !it.error}}
    {{?it.nickname}}
      <h1 class="profile__nickname">{{=it.nickname}}</h1>
    {{?}}

    {{? it.banished}}
      <div class="profile__card profile__user-text">
        <div class="profile__card-body profile__banished-mention">
          <p>Pseudo banni.</p>
        </div>
      </div>
    {{?}}

    <div class="profile__info-block-container">
      {{? it.messages !== false || it.messagesIn2017 !== false}}
        <div class="profile__card profile__info-block">
          <div class="profile__card-header">Messages</div>
          <div class="profile__card-body profile__info-block-body">
            {{? it.messagesIn2017 !== false}}
              <p><strong>{{=it.messagesIn2017}}</strong> en 2017</p>
            {{?}}
            {{? it.messages !== false}}
              <p><strong>{{=it.messages}}</strong> au total</p>
            {{?}}
          </div>
        </div>
      {{?}}

      {{? it.registrationTimestamp}}
        <div class="profile__card profile__info-block">
          <div class="profile__card-header">Ancienneté</div>
          <div class="profile__card-body profile__info-block-body">
            <p><strong>{{=it.registrationDays}}</strong> jours</p>
            <p>
              <em>{{=it.registrationYear}}</em>, {{=it.registrationDate}}
              {{? it.registrationHour}}
              à {{=it.registrationHour}}
              {{?}}
            </p>
          </div>
        </div>
      {{?}}
    </div>

    {{? it.avatar}}
      <img class="profile__avatar" src="https://image.jeuxvideo.com{{=it.avatar}}">
    {{?}}

    {{? it.signature}}
      <div class="profile__card profile__user-text">
        <div class="profile__card-header">Signature</div>
        <div class="profile__card-body">
          <p>{{=it.signature}}</p>
        </div>
      </div>
    {{?}}

    {{? it.description}}
      <div class="profile__card profile__user-text">
        <div class="profile__card-header">Description</div>
        <div class="profile__card-body">
          <p>{{=it.description}}</p>
        </div>
      </div>
    {{?}}
  {{??}}
    <div class="profile__card profile__user-text">
      <div class="profile__card-header">Erreur réseau</div>
      <div class="profile__card-body profile__card-header--danger">
        <p>
          {{? it.error == 'timeout'}}
            La page sur JVC mettait trop de temps à charger, elle a été arrêtée.
          {{?? it.error == 'network'}}
            La page n’a pas pu être récupérée depuis JVC. ({{=it.errorDetail}})
          {{??}}
            La page a pu être récupérée depuis JVC mais elle renvoie un code HTTP invalide ({{=it.error}}).
          {{?}}
        </p>
      </div>
    </div>
  {{?}}

  {{? it.backgroundCover}}
    <div class="profile__centered">
      <a class="button" target="_blank" href="https://image.noelshack.com/fichiers{{=it.backgroundCover}}">
        <span class="button__visible button__visible--profile">Afficher l’image de fond</span>
      </a>
    </div>
  {{?}}

</div>
</div>
<script>
  var $csrf = "{{=it.csrf}}";
</script>
{{#def.layoutFoot}}
