{{#def.layoutHead}}
<div class="canvas">
<div class="sheet">
  <div class="stickers-heads-container">
    <div class="stickers-heads">
      {{ for (let packId in it.packs) { }}
        <div class="js-stickers-head-{{=packId}} stickers-heads__head" data-pack-id="{{=packId}}">
          <div class="stickers-heads__head-image" style="background-image: url(/assets/stickers/heads/{{=packId}}.png)"></div>
        </div>
      {{ } }}
    </div>
  </div>
  <div class="stickers-list">
    {{ for (let packId in it.packs) { }}
      <div class="js-stickers-pack-{{=packId}} stickers-pack" data-pack-id="{{=packId}}">
        {{~it.packs[packId] :stickerId}}
          <img class="stickers-pack__sticker sticker sticker--pack-{{=packId}}" src="/assets/stickers/v2/{{=stickerId}}" data-sticker-id="{{=stickerId}}" title=":{{=stickerId}}:" alt=":{{=stickerId}}:">
        {{~}}
      </div>
    {{ } }}
  </div>
  <div id="bottom"></div>
</div>
</div>
<script>
  var _csrf = "{{=it.csrf}}";
</script>
<script type="queued">
  setUpStickers();
</script>
{{#def.layoutFoot}}
