{{#def.layoutHead}}
<body class="forum-{{=it.forumId}} topic-{{=it.idJvf}} body--no-bottom">
<div class="sheet">
  {{#def.header}}
  <div class="content">
    {{? !it.error }}
      <h1 class="page-title page-title--topic">
        {{!it.title}}
        <div class="mobile-menu">
          <div class="mobile-menu__opener">
            <div class="mobile-menu__opener-icon"></div>
          </div>
          <div class="mobile-menu__items">
            {{? !it.isFavorite }}
              <span class="js-favorite-toggle js-favorite-toggle-label mobile-menu__item" data-action="add">Mettre en favoris</span>
            {{??}}
              <span class="js-favorite-toggle js-favorite-toggle-label mobile-menu__item" data-action="delete">Retirer des favoris</span>
            {{?}}
            <a class="mobile-menu__item" href={{=it.urlJvc}} target="_blank">Ouvrir sur JVC</a>
          </div>
        </div>
      </h1>
      <div class="pagination-topic pagination-topic--top">
        {{? !it.isLocked }}
          <div class="pagination-topic__action-button pagination-topic__action-button--post">
            <span class="js-go-to-form button button--raised button--cta button--scale">Répondre</span>
          </div>
        {{?}}
        <div class="pagination-topic__pages">
          {{#def.topicPagination}}
        </div>
      </div>
      <div class="messages-list">
        {{#def.topicMessages}}
      </div>
      <div class="pagination-topic pagination-topic--bottom">
        <div class="pagination-topic__action-button">
          <a class="button button--scale" href="/{{=it.forumId}}-{{=it.forumSlug}}">
            Retour
            <span class="pagination-topic__action-button-additional-text">forum</span>
          </a>
        </div>
        <div class="pagination-topic__pages">
          {{#def.topicPagination}}
        </div>
      </div>
      {{? !it.isLocked}}
        <form class="js-form-post form form--touches-bottom form--with-container">
          <div class="form__actions-mobile">
            <button class="button-mobile-post" type="submit" tabindex="4">
              <div class="button-mobile-post__visible">
                <div class="button-mobile-post__icon"></div>
              </div>
            </button>
          </div>
          <div class="form__container">
            <div class="form__draft">
              Brouillon sauvegardé.
              <span class="form__draft-recover">Récupérer</span>
            </div>
            <div class="form__errors"><p></p></div>
            <textarea class="form__textarea" placeholder="Écrivez votre {{=it.superlative}} message" tabindex="1"></textarea>
          </div>
          <div class="form__actions-desktop">
            <div class="form__action"></div>
            <div class="form__action form__action--submit">
              <input class="button button--raised button--cta button--large button--scale" type="submit" value="Poster" tabindex="4">
            </div>
            <div class="form__action"></div>
          </div>
        </form>
        <div class="js-go-to-form fab-post">
          <div class="fab-post__inner">
            <div class="fab-post__icon"></div>
          </div>
        </div>
      {{??}}
        <div class="card">
          <div class="card__header">Sujet verrouillé</div>
          <div class="card__body">{{=it.lockRationale}}</div>
        </div>
      {{?}}
    {{??}}
      <div class="error">
        {{? it.error == 'timeout' }}
          <h1 class="error__title">Timeout</h1>
          <div class="error__message">
            <p>La page sur JVC mettait trop de temps à charger, elle a était arrêtée.</p>
            <p>
              <a class="button button--cta button--scale" href="/{{=it.forumId}}/{{=it.idJvf}}-{{=it.slug}}">Réessayer</a>
            </p>
          </div>
        {{?? it.error == 'network' }}
          <h1 class="error__title">Erreur réseau</h1>
          <div class="error__message">
            <p>La page n’a pas pu être récupérée depuis JVC. ({{=it.errorDetail}})</p>
            <p>
              <a class="button button--cta button--scale" href="/{{=it.forumId}}/{{=it.idJvf}}-{{=it.slug}}">Réessayer</a>
            </p>
          </div>
        {{?? it.error == 'deleted' }}
          <h1 class="error__title">Topic supprimé</h1>
          <div class="error__message">
            <a class="button button--cta button--scale" href="/{{=it.forumId}}">Retour forum</a>
          </div>
        {{?? it.error == 'doesNotExist' }}
          <h1 class="error__title">Topic inexistant</h1>
          <div class="error__message">
            <a class="button button--cta button--scale" href="/{{=it.forumId}}">Retour forum</a>
          </div>
        {{?? it.error == '103' }}
          <h1 class="error__title">Topic privé</h1>
          <div class="error__message">
            Ce topic est réservé aux modérateurs.
          </div>
        {{?? it.error == 'unknownRedirect' }}
          <h1 class="error__title">Problème inconnu avec ce topic</h1>
          <div class="error__message">
            Il redirige vers {{=it.errorLocation}}
          </div>
        {{?}}
      </div>
    {{?}}
  </div>
  <aside class="aside">
    {{? !it.error }}
      <div class="aside__top-buttons">
        {{? !it.isFavorite }}
          <span class="js-favorite-toggle aside__top-button aside__top-button--favorite" data-action="add">
            <span class="js-favorite-toggle-label aside__top-button-label">Mettre en favoris</span>
          </span>
        {{??}}
          <span class="js-favorite-toggle aside__top-button aside__top-button--unfavorite" data-action="delete">
            <span class="js-favorite-toggle-label aside__top-button-label">Retirer des favoris</span>
          </span>
        {{?}}
        <a class="aside__top-button aside__top-button--open-jeuxvideocom" href="{{=it.urlJvc}}" target="_blank">
          <span class="aside__top-button-label">Ouvrir sur JVC</span>
        </a>
      </div>
    {{?}}
    <div class="js-favorites-forums aside__menu menu">
      {{? it.favorites && it.favorites.forums.length }}
        {{~it.favorites.forums :a}}
          <a class="menu__item" href="{{=a[0]}}">{{=a[1]}}</a>
        {{~}}
      {{??}}
        <span class="menu__item menu__item--blank-state">Aucun forum favori</span>
      {{?}}
    </div>
    <div class="js-slider aside__menu menu slider">
      {{? it.favorites && it.favorites.topics.length }}
        {{~it.favorites.topics :a}}
          <a class="menu__item" href="{{=a[0]}}">{{=a[1]}}</a>
        {{~}}
      {{??}}
        <span class="menu__item menu__item--blank-state">Aucun topic favori</span>
      {{?}}
    </div>
  </aside>
</div>
<script>
  var forumId = {{=it.forumId}}
    , topicMode = {{=it.mode}}
    , topicIdLegacyOrModern = {{=it.idLegacyOrModern}}
    , topicSlug = "{{=it.slug}}"
    , topicPage = {{=it.page}}
    , lastPage = {{=it.lastPage}}
    , cacheAge = {{=it.cacheAge * 1000}}
    , _csrf = "{{=it.csrf}}";
</script>
<script type="queued">
  startRefresh();
</script>
{{#def.layoutFoot}}
