/* SHEET */

@media (min-width: 1025px) {
  .content {
    width: calc(80% - 15px);
    margin-right: 15px;
    float: left;
    position: relative;
  }

  .content--no-aside {
    width: auto;
    margin-right: 0;
    float: none;
  }
}

/* MENU */

.menu {
  margin: 15px 10px;
  background: var(--card-background);
  padding: 2px 0;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, var(--card-box-shadow-opacity));
}

@media (min-width: 1025px) {
  .menu {
    margin: 15px 0;
  }
}

.menu__item {
  display: block;
  color: hsl(240, 8%, 87%);
  text-shadow: 0 1px 1px hsl(240, 8%, 0%);
  font-weight: bold;
  cursor: pointer;
  padding: 13px 10px;
}

@media (min-width: 1025px) {
  .menu__item {
    padding: 6px 10px;
  }
}

.menu__item + .menu__item {
  border-top: 1px solid var(--card-delimiter-color);
}

.menu__item--blank-state {
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  color: var(--menu__item--blank-state_-_color);
  text-shadow: none;
  cursor: default;
}

/* ASIDE */

.aside {
  display: none;
}

@media (min-width: 1025px) {
  .aside {
    display: block;
    width: 20%;
    float: left;
    margin: 10px 0;
  }
}

.aside__top-buttons {
  display: table;
  margin: 0 0 12px 15px;
  width: 100%;
  width: calc(100% - 15px);
}

.aside__top-button {
  display: table-cell;
  background: top no-repeat;
  width: 100px;
  height: 42px;
  cursor: pointer;
  position: relative;
}

.aside__top-button--open-jeuxvideocom {
  background-image: url(/images/icons/openJvc.svg);
}

.aside__top-button--favorite {
  background-image: url(/images/icons/favoritesAdd.svg);
}

.aside__top-button--unfavorite {
  background-image: url(/images/icons/favoritesRemove.svg);
}

.aside__top-button-label {
  display: block;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  color: hsl(240, 8%, 73%);
}

.aside__menu {
  margin: 0 0 15px 15px;
}

.slider.sliding {
  position: fixed;
  top: 15px;
  max-height: 90%;
  max-height: calc(100% - 30px);
  overflow-y: auto;
}

/* =FORUM */

.page-title__link--with-refresh-icon {
  text-indent: 24px;
  background: url(/images/icons/forumRefresh.svg) 6px 15px no-repeat;
}

@media (min-width: 400px) {
  .page-title__link--with-refresh-icon {
    background-position: 6px 16px;
  }
}

@media (min-width: 1025px) {
  .page-title__link--with-refresh-icon {
    text-indent: 32px;
    background-position: 12px 20px;
  }
}

/* Topic list */

.liste-topics {
  background: var(--topic-background);
  display: table;
  width: 100%;
  margin: 10px 0;
}

@media (min-width: 1025px) {
  .liste-topics {
    border-radius: 2px;
  }
}

.topic {
  display: table-row;
  color: var(--link-color);
}

.topic:nth-child(odd) {
  background: var(--topic-background-odd);
}

.topic__new-messages-indicator {
  background: var(--topic__new-messages-indicator-background);
  box-shadow: var(--topic__new-messages-indicator-shadow);
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 99px;
  margin-right: 2px;
  margin-bottom: 1px;
}

@media (min-width: 1025px) {
  .topic__new-messages-indicator {
    width: 8px;
    height: 8px;
  }
}

.topic--visited,
.topic:visited { /* :visited takes into account when the user goes back in history, --visited does not */
  color: var(--link--visited-color);
}

.topic__label {
  display: table-cell;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  height: 44px;
  width: 34px;
}

@media (min-width: 600px) {
  .topic__label {
    width: 38px;
  }
}

@media (min-width: 1025px) {
  .topic__label {
    height: 32px;
  }
}

.topic__label--dossier1 {
  background-image: url(/images/icons/topics/dossier1.svg);
}
.topic__label--dossier2 {
  background-image: url(/images/icons/topics/dossier2.svg);
}
.topic__label--lock {
  background-image: url(/images/icons/topics/lock.svg);
}
.topic__label--marque-on {
  background-image: url(/images/icons/topics/marque-on.svg);
}
.topic__label--marque-off {
  background-image: url(/images/icons/topics/marque-off.svg);
}
.topic__label--resolu {
  background-image: url(/images/icons/topics/resolu.svg);
}
.topic__label--favorite {
  background-image: url(/images/icons/topics/favorite.svg);
}

.topic__text-container {
  display: table-cell;
  word-break: break-all;
  word-break: break-word;
  padding: 3px 0;
  vertical-align: middle;
}

@media (min-width: 1025px) {
  .topic__text-container {
    display: none;
  }
}

.topic__title {
  font-weight: bold;
  padding-right: 4px;
  overflow: hidden;

  /* For .topic__new-messages-indicator's shadow */
  padding-left: 3px;
  margin-left: -3px;
}

.topic__infos {
  font-size: 11px;
  padding: 1px 0 2px;
  display: table;
  width: 100%;
}

.topic__author {
  display: table-cell;
}

.topic__author--modo {
  color: #00c853;
}

.topic__author--admin,
.topic__author--staff {
  color: var(--admin-color);
}

.topic__date-and-nb-answers-container {
  display: table-cell;
  text-align: right;
  padding-right: 8px;
}

.topic__date {
  display: inline-block;
  font-weight: bold;
}

.topic__nb-answers {
  display: inline-block;
  margin-right: 5px;
}

.topic__title--desktop,
.topic__author--desktop,
.topic__nb-answers--desktop,
.topic__date--desktop {
  display: none;
}

@media (min-width: 1025px) {
  .topic__title--desktop {
    display: table-cell;
    vertical-align: middle;
    width: 60%;
    word-break: break-all;
    word-break: break-word;
    font-size: 1.067em;
    padding-right: 0;
  }

  .topic__author--desktop, .topic__nb-answers--desktop, .topic__date--desktop {
    display: table-cell;
    font-size: .867em;
    vertical-align: middle;
    text-align: center;
  }

  .topic__nb-answers {
    margin-right: 0;
  }

  .topic__date {
    text-align: center;
    font-weight: normal;
  }
}

/* =TOPIC */

/* Pagination */

.pagination-topic {
  display: table;
  margin: 1em 10px;
  width: 100%;
  width: calc(100% - 20px);
}

@media (min-width: 1025px) {
  .pagination-topic {
    margin: 1em 0;
    width: 100%;
  }
}

.pagination-topic--top {
  margin-top: 10px;
}

.pagination-topic__action-button {
  display: table-cell;
  width: 1px; /* Pour que la case reste aussi petite que possible et que celle d’a côté ai l’air plus ou moins centrée sur tablette/desktop */
}

@media (MAX-width: 1024px) {
  .pagination-topic__action-button-additional-text {
    display: none;
  }

  .pagination-topic__action-button--post {
    display: none;
  }
}

.pagination-topic__pages {
  display: table-cell;
  text-align: center;
  cursor: default;
}

.pagination-topic__page {
  display: inline-block;
  min-width: 34px;
  height: 34px;
  line-height: 34px;
  font-size: 15.2px;
  border-radius: 9em;
}

@media (min-width: 560px) {
  .pagination-topic__page {
    min-width: 44px;
    height: 44px;
    line-height: 44px;
  }
}

.pagination-topic__page + .pagination-topic__page {
  box-sizing: content-box;
  padding-left: 2px;
}

.pagination-topic__page-link {
  display: block;
  border-radius: 9em;
  margin: -5px;
  padding: 5px 7px;
  position: relative;
  color: var(--link-color);
}

.pagination-topic__page-link--active {
  background: var(--pagination-topic__page-link--active-background);
  font-weight: bold;
  margin: 0;
  padding: 0 2px;
  color: var(--color);
}

.pagination-topic__page-link--visited {
  color: var(--link--visited-color);
}

.pagination-topic--top .pagination-topic__page-link--last,
.pagination-topic--top .pagination-topic__page:last-child .pagination-topic__page-link--next,
.pagination-topic--bottom .pagination-topic__page-link--next {
  font-weight: bold;
  font-size: 19px;
}

/* =TOPIC MESSAGES */

/* List */

.messages-list {
  overflow-x: hidden;

  /* Ignored show-message button, last message’s shadow */
  padding-bottom: 10px;
  margin-bottom: -10px;
}

@media (min-width: 1025px) {
  .messages-list {
    /* Pour que la date du premier message ne soit pas coupée */
    padding-top: 8px;
    margin-top: -8px;

    /* Pour l’ombre */
    padding-right: 3px;
    margin-right: -3px;

    /* Plus d’espace pour les pseudos */
    margin-left: -30px;
  }
}

/* Message */

.message {
  margin: 0 8px 12px;
  position: relative;
}

@media (min-width: 1025px) {
  .message {
    margin: 0 0 14px;
    width: 100%;
  }
}

.message:last-of-type {
  margin-bottom: 0;
}

.message__visible {
  border-radius: 3px;
  background: var(--card-background);
  color: hsl(240, 8%, 87%);
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, var(--card-box-shadow-opacity));
}

@media (min-width: 1025px) {
  .message__visible,
  .message:nth-of-type(odd) .message__visible {
    background: transparent;
    border-radius: none;
    box-shadow: none;
  }
}

.message__byline {
  width: 100%;
  display: table;
  margin-bottom: -10px;
  overflow: hidden;
}

@media (min-width: 1025px) {
  .message__byline {
    width: 200px;
    display: block;
    margin-bottom: 0;
    float: left;
    direction: rtl;
  }
}

.message__end-anchor {
  position: relative;
  top: 3px;
}

/* Author */

.message__byline-author {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
}

@media (min-width: 400px) {
  .message__byline-author {
    padding-left: 2px;
  }
}

@media (min-width: 600px) {
  .message__byline-author {
    padding-left: 5px;
  }
}

@media (min-width: 1025px) {
  .message__byline-author {
    display: block;
    padding-left: 0;
  }
}

.message__byline-author-link {
  padding: 8px 10px 10px 10px;
  display: inline-block;
}

@media (min-width: 1025px) {
  .message__byline-author-link {
    padding: 5px 10px;
  }
}

.message__byline-author-link--no-link {
  cursor: default;
}

.message__byline-author-avatar {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 5px;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.message__byline-author-avatar::before {
  content: ' ';
  display: inline-block;
  height: 100%;
  width: 1%;
  vertical-align: middle;
}

@media (min-width: 400px) {
  .message__byline-author-avatar {
    margin-right: 6px;
  }
}

@media (min-width: 600px) {
  .message__byline-author-avatar {
    margin-right: 8px;
  }
}

@media (min-width: 1025px) {
  .message__byline-author-avatar {
    margin-right: 0;
    margin-left: 5px;
    width: 40px;
    height: 40px;
  }
}

.message__byline-author-avatar-image {
  max-width: 30px;
  max-height: 30px;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

@media (min-width: 1025px) {
  .message__byline-author-avatar-image {
    max-width: 40px;
    max-height: 40px;
    border-radius: 3px;
  }
}

.message__byline-author-avatar-image--default {
  border-radius: 3px;
}

@media (min-width: 1025px) {
  .message__byline-author-avatar-image--default {
    max-width: 30px;
    max-height: 30px;
    border-radius: 4px;
  }
}

.message__byline-author-pseudo {
  color: hsl(240, 8%, 73%);
  text-shadow: 0 1px 0px hsla(0, 0%, 0%, 1);
  font-weight: bold;
  line-height: 30px;
}

@media (min-width: 1025px) {
  .message__byline-author-pseudo {
    display: inline-block; /* needed for direction */
    direction: ltr;
  }
}

.message__byline-author-pseudo--modo {
  color: #00c853;
}

.message__byline-author-pseudo--admin,
.message__byline-author-pseudo--staff {
  color: var(--admin-color);
}

/* Date */

.message__byline-date {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  white-space: nowrap;
}

@media (min-width: 400px) {
  .message__byline-date {
    padding-right: 2px;
  }
}

@media (min-width: 600px) {
  .message__byline-date {
    padding-right: 5px;
  }
}

@media (min-width: 1025px) {
  .message__byline-date {
    display: block;
    padding-right: 0;
    position: absolute;
    top: -6px;
    right: 5px;
    direction: ltr;
  }
}

.message__byline-date-inline {
  cursor: pointer;
  padding: 10px;
  color: var(--message__byline-date-inline-color);
  font-size: 13px;
  vertical-align: top;
  -webkit-user-select: text;
     -moz-user-select: text;
}

@media (min-width: 1025px) {
  .message__byline-date-inline {
    font-size: 12px;
    cursor: auto;
    background: var(--message-date-desktop-background);
    box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, var(--card-box-shadow-opacity)),
                0 1px 4px hsla(0, 0%, 0%, .15);
    padding: 2px 4px;
    color: hsl(240, 8%, 73%);
    border-radius: 2px;
    position: relative;
    z-index: 2; /* be over edit form */
  }
}

/* Mobile actions */

@media (MAX-width: 1024px) {
  .message {
    ---transition-duration: calc(.07s + var(----nb-actions) * .03s);
    transition: transform var(---transition-duration) ease-out;
  }

  .message--menu-opened {
    ---translateX-offset: -2px;
    ---translateX: calc(var(---translateX-offset) - var(----nb-actions) * 60px);
    transform: translateX(var(---translateX));
  }

  .message__actions {
    display: block;
  }
}

@media (MAX-width: 399px) {
  .message--menu-opened {
    ---translateX-offset: 0px;
  }
}

.message__actions {
  position: absolute;
  ---right-offset: -12px;
  ---right: calc(var(---right-offset) - var(----nb-actions) * 60px);
  right: var(---right);
}

@media (MAX-width: 399px) {
  .message__actions {
    ---right-offset: -10px;
  }
}

.message__actions-action {
  display: inline-block;
  width: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 10px;
  vertical-align: bottom;
  margin-right: 10px;
  margin-top: 5px;
  padding-top: 30px;
  padding-bottom: 5px;
  border-radius: 4px;
  background: var(--message-action-background);
  background-position: center top;
  background-repeat: no-repeat;
  color: var(--message-action-color);
  cursor: pointer;
  transition: transform .075s ease-out;
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, var(--message-action-light));
}

.message__actions-action:active {
  transform: scale(.85);
}

.message__actions-action--quote {
  background-image: url(/images/icons/messageQuoteMobile.svg);
}

.message__actions-action--delete {
  background-image: url(/images/icons/messageDeleteMobile.svg);
  color: #F44336;
}

.message__actions-action--edit {
  background-image: url(/images/icons/messageEditMobile.svg);
}

/* Desktop actions */

.message__quick-actions {
  display: none;
}

@media (min-width: 1025px) {
  .message__quick-actions {
    display: block;
    position: absolute;
    bottom: -2px;
    right: 3px;
  }
}

.message__quick-action {
  width: 28px;
  height: 28px;
  cursor: pointer;
  opacity: .5;
  display: inline-block;
  margin-left: 5px;
}

@media (hover: hover) {
  .message__quick-action:hover {
    opacity: 1;
  }
}

.message__quick-action--quote {
  background: url(/images/icons/messageQuoteDesktop.svg) center no-repeat;
}

.message__quick-action--edit {
  background: url(/images/icons/messageEditDesktop.svg) center no-repeat;
}

.message__quick-action--delete {
  background: url(/images/icons/messageDeleteDesktop.svg) center no-repeat;
}

/* Content */

.message__content {
  padding: 0 10px;
  word-wrap: break-word;
  min-height: 48px; /* A message can be empty when there’s only an unknown sticker in it */
  overflow: hidden;
  color: var(--message__content-color);
  -webkit-user-select: text;
     -moz-user-select: text;
}

@media (min-width: 400px) {
  .message__content {
    padding: 0 11px;
  }
}

@media (min-width: 600px) {
  .message__content {
    padding: 0 14px;
  }
}

@media (min-width: 1025px) {
  .message__content {
    margin-left: var(--message__content_-_desktop-margin-left);
    background: var(--card-background);
    border-radius: 3px;
    box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, var(--card-box-shadow-opacity));
  }
}

.message__content-text {
  margin: .9em 0;
}

.message__content-edit-mention {
  font-size: 12px;
  margin-top: -3px;
  color: hsl(240, 8%, 53%);
}

.message__content-text p {
  margin: .9em 0;
}

.message__content-text > .pre-jv,
.message__content-text p > .code-jv,
.quote > .pre-jv,
.quote p > .code-jv {
  font-size: 93.33%;
  font-family: Menlo, Consolas, monospace;
  border: 1px solid hsla(0, 0%, 0%, .55);
  border-radius: 2px;
  background: hsla(0, 0%, 100%, .2);
}

.pre-jv {
  padding: .5em 7px;
  word-wrap: normal;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.code-jv {
  padding: 2px 3px;
}

.noelshack-link__thumb {
  width: 68px;
  height: 51px;
  position: relative;
  top: 3px;
}

.youtube-link {
  position: relative;
  display: inline-block;
}

.youtube-link:after {
  background: url(/images/icons/youtube.svg);
  background-size: 30px;
  opacity: .75;
  width: 30px;
  height: 30px;
  display: block;
  content: '';
  position: absolute;
  left: 25px;
  top: 10.5px;
}

.youtube-link__thumb {
  width: 80px;
  height: 45px;
  position: relative;
  top: 3px;
}

@media (min-width: 1025px) {
  .youtube-link:after {
    background-size: 36px;
    width: 36px;
    height: 36px;
    left: 30px;
    top: 12.5px;
  }

  .youtube-link__thumb {
    width: 96px;
    height: 54px;
  }
}

@media (hover: hover) {
  .youtube-link:hover:after {
    opacity: 1;
  }
}

.long-link:after {
  content: '[…]';
}

.long-link__hidden-part {
  position: fixed;
  left: 999em;
}

/* 2017 */

:root {
  --background: hsl(0, 0%, 2%);
  --color: hsl(240, 8%, 87%);
  --link-color: hsl(182, 25%, 50%);
  --link--visited-color: hsl(0, 0%, 57%);
  --container-max-width: 1440px;
  --header-background: hsl(240, 8%, 9%);
  --header-box-shadow-color: hsl(240, 8%, 6%);
  --header__home-link-color: hsl(240, 8%, 67%);
  --header__home-link--accompanied-box-shadow-color: hsla(240, 8%, 3%, .5);
  --header__forum-cell-background: hsl(240, 8%, 12%);
  --header__forum-cell-box-shadow-color: hsl(240, 8%, 8%);
  --header__forum-link-color: hsl(240, 8%, 70%);
  --menu-background: hsl(240, 8%, 13.5%);
  --stage--sticker-background: hsla(0, 0%, 0%, .5);
  --stage--menu-mobile-items-background: hsla(0, 0%, 0%, .5);
  --menu-mobile-items-background-saturation: .2;
  --menu-mobile-items-shadow-opacity: 1;
  --card-background: hsl(240, 8%, 9%);
  --card-box-shadow-opacity: .04;
  --card-delimiter-color: hsla(0, 0%, 100%, .04);
  --card__header-color: hsl(0, 0%, 47%);
  --message__content-color: hsl(240, 8%, 80%);
  --topic-background: hsl(240, 8%, 8%);
  --topic-background-odd: hsl(240, 8%, 10%);
  --pagination-topic__page-link--active-background: hsl(182, 25%, 40%);
  --message__byline-date-inline-color: hsl(182, 25%, 40%);
  --quote-border-color: hsla(0, 0%, 100%, .125);
  --quote-background: hsla(0, 0%, 100%, .05);
  --message-date-desktop-background: hsl(240, 8%, 11%);
  --form-input-background: hsl(240, 8%, 8%);
  --form-input-color: hsl(240, 8%, 87%);
  --form-input-border-color: hsl(0, 0%, 0%);
  --form-input-placeholder-color: hsl(240, 8%, 60%);
  --form-input-inner-shadow-opacity: .5;
  --form-input-inner-shadow-blur-radius: 8px;
  --form-input-focused-inner-shadow-opacity: .3;
  --form-input-focused-inner-shadow-blur-radius: 5px;
  --form-post-button-default-background: hsl(0, 0%, 75%);
  --stickers-pack-delimiter-color: hsla(0, 0%, 100%, .1);
  --imbricated-quote-shadow-opacity: .15;
  --imbricated-quote-color: hsl(240, 8%, 53%);
  --message-action-background: hsl(240, 8%, 13.5%);
  --message-action-color: hsl(240, 8%, 73%);
  --message-action-light: .08;
  --stickers-heads-background: hsl(240, 8%, 10%);
  --stickers-heads-light: .05;
  --stickers-heads-selected-border-top-color: hsl(0, 0%, 0%);
  --stickers-head-selected-background: hsl(240, 8%, 7%);
  --stickers-head-selected-shadow: inset 0 0 2px 1px hsl(0, 0%, 0%);
  --sticker-code-color: hsla(240, 8%, 100%, .5);
  --form-post-button-shadow: hsla(0, 0%, 0%, .5);
  --form-post-button-light: hsl(0, 0%, 100%);
  --form-post-button-background-image: linear-gradient(hsl(0, 0%, 90%), hsl(0, 0%, 80%) 50%, hsl(0, 0%, 70%) 50%, hsl(0, 0%, 60%) 100%);
  --form-post-button-focus-outline-color: hsl(197, 72%, 74%);
  --form-post-button-visible-active-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 1);
  --form-post-button-visible-sending-shadow: 0 0 60px 10px hsl(197, 72%, 74%);
  --form-post-button-visible-sending-shadow-animation-end: 0 0 42px 7px hsla(197, 72%, 74%, .8);
  --error-color: hsl(0, 93%, 36%);
  --danger-color: hsl(0, 100%, 30%);
  --spoil-background: hsl(0, 54%, 38%);
  --spoil-shadow-color: hsla(0, 0%, 0%, 1);
  --spoil-revealed-background: hsl(0, 54%, 32%);
  --spoil-revealed-shadow-color: hsla(0, 0%, 0%, .4);
  --admin-color: hsl(0, 60%, 50%);
  --admin-color-edit-mention: hsl(0, 50%, 40%);
  --topic__new-messages-indicator-background: hsl(190, 80%, 60%);
  --topic__new-messages-indicator-shadow: 0 0 3px 1px hsla(0, 100%, 100%, .4);
  --topic__new-messages-indicator-shadow: 0 0 3px 1px hsla(190, 80%, 60%, .5);
  --toast-background: hsl(45, 100%, 85%);
  --toast-color: hsl(45, 110%, 20%);
  --toast-box-shadow: 0 1px 10px hsla(0, 0%, 0%, .75);
  --button__visible-text-shadow-opacity: .5;
  --button__visible--primary-color: hsla(0, 0%, 100%, .87);
  --button__visible--primary-background: linear-gradient(hsl(270, 90%, 50%), hsl(268, 90%, 35%));
  --button__visible--primary-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .33);
  --button--hover__visible--primary-color: hsla(0, 0%, 100%, .93);
  --button--hover__visible--primary-background: linear-gradient(hsl(270, 90%, 55%), hsl(268, 90%, 40%));
  --button--hover__visible--primary-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .4);
  --button--active__visible--primary-color: hsla(0, 0%, 100%, .67);
  --button--active__visible--primary-background: linear-gradient(hsl(268, 90%, 35%), hsl(270, 90%, 40%));
  --button--active__visible--primary-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, .1)
                                           , inset 0 2px 15px hsla(0, 0%, 0%, .875);
  --button--active__visible--profile-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, .1)
                                           , inset 0 2px 15px hsla(0, 0%, 0%, .5);
  --page-title-color: hsl(240, 8%, 67%);
  --menu__item--blank-state_-_color: hsl(240, 8%, 73%);
  --message__content_-_desktop-margin-left: 200px;
  --poll-mention_-_color: hsl(240, 8%, 63%);
  --button_-_additional-tap-target: 6px;
  --cant-display-notice_-_color: hsl(0, 100%, 10%);

  /* Profile */
  --canvas--profile_-_background-color: hsl(240, 8%, 40%);
  --profile__banished-mention_-_text-shadow-color: hsla(0, 100%, 22.5%, .5); /* --danger-color darker with opacity */
  --profile-link-color: hsl(182, 25%, 12.5%);
  --button__visible--profile-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .33)
                                   , 0 1px 3px hsla(0, 0%, 0%, .667);
}

html {
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  background: var(--background);
  font: 15px/1.4 -apple-system, sans-serif;
  color: var(--color);
  -webkit-user-select: none;
     -moz-user-select: none;
}

::-moz-focus-inner {
  border: none;
}

a {
  text-decoration: none;
}

.link {
  color: var(--link-color);
}

@media (hover: hover) {
  .link:hover {
    filter: brightness(1.4);
  }
}

.link:active {
  filter: brightness(.75);
}

.canvas {
  ---sheet-desktop-padding-x: 30px;
  ---header__forum-link-over400-padding-x: 20px;
}

.canvas--profile {
  background-color: var(--canvas--profile_-_background-color);
  background-position: top center;
  padding-bottom: 1px; /* Fixes Safari not showing bottom margin when html { height: 100%; } */
  padding-top: 1px;
  min-height: 100vh;
}

.canvas--under-stage-with-menu-mobile-items {
  filter: saturate(var(--menu-mobile-items-background-saturation));
}

.canvas--under-stage-with-sticker {
  filter: blur(12px);
}

.header {
  width: 100%;
  background: var(--header-background);
  box-shadow: inset 0 -2px 2px var(--header-box-shadow-color);
  font-size: 16px;
  font-weight: bold;
  overflow-x: hidden;
}

.header__container {
  display: table;
  padding-left: calc((100% - var(--container-max-width)) / 2 + (var(---sheet-desktop-padding-x) - var(---header__forum-link-over400-padding-x)) );
  width: 110%; /* hides .header__forum-cell's box-shadow right part */
}

.header {
  width: 100%;
  position: relative;
}

.header__home-cell {
  display: table-cell;
  width: 1px;
}

.header__home-link {
  color: var(--header__home-link-color);
  padding: 10px 20px;
  display: inline-block;
}

.header__home-link--accompanied {
  box-shadow: inset -2px 0 3px var(--header__home-link--accompanied-box-shadow-color);
}

.header__forum-cell {
  display: table-cell;
  background: var(--header__forum-cell-background);
  box-shadow: inset -3px -2px 2px var(--header__forum-cell-box-shadow-color); /* 3px to the left to hide the shadow so it doesn't clash with .header__home-link--accompanied's shadow */
  white-space: nowrap;
}

.header__forum-link {
  color: var(--header__forum-link-color);
  padding: 10px var(---header__forum-link-over400-padding-x);
  display: inline-block;
}

@media (MAX-width: 399px) {
  .header__home-link,
  .header__forum-link {
    padding: 10px 13px;
  }
}

.sheet {
  padding-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.sheet--hooked-bottom {
  padding-bottom: 0;
}

@media (min-width: 1025px) {
  .sheet {
    margin: auto;
    max-width: var(--container-max-width);
    padding: 0 var(---sheet-desktop-padding-x) 14px;
  }
}

.stage {
  display: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  overflow-y: auto;
}

.stage--shown {
  display: block;
}

.stage--sticker {
  background: var(--stage--sticker-background);
}

.stage--menu-mobile-items {
  background: var(--stage--menu-mobile-items-background);
}

.menu-mobile {
  position: absolute;
  top: 0;
  right: -10px;
  cursor: pointer;
}

@media (min-width: 1025px) {
  .menu-mobile {
    display: none;
  }
}

.menu-mobile__opener {
  width: 54px;
  height: 54px;
  background: url(/assets/images/icons/mobileMenu.svg) center no-repeat;
}

.menu-mobile__opener--hidden {
  display: none;
}

.menu-mobile-items {
  background: var(--message-action-background);
  position: fixed;
  z-index: 11;
  top: 55px;
  right: 10px;
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, var(--message-action-light)),
              0 2px 10px hsla(0, 0%, 0%, var(--menu-mobile-items-shadow-opacity));
  border-radius: 4px;
  display: inline-block;
}

.menu-mobile-items__item {
  display: block;
  padding: 12px 20px;
  font-size: 17px;
  letter-spacing: .5px;
  color: var(--message-action-color);
  cursor: pointer;
}

.menu-mobile-items__item + .menu-mobile-items__item {
  border-top: 1px solid hsla(0, 0%, 100%, var(--message-action-light));
}

.quote {
  ---padding-top-or-bottom: 1px;
  margin: 1em 0;
  border-left: 3px solid var(--quote-border-color);
  padding: var(---padding-top-or-bottom) 8px;
  background: var(--quote-background);
  font-size: 13px;
}

.message__content-text > .quote > .quote > .quote:not(.quote--imbricated-shown) {
  ---height: 30px;
  position: relative;
  height: 0;
  overflow: hidden;
  padding-top: calc(var(---height) - var(---padding-top-or-bottom));
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, var(--imbricated-quote-shadow-opacity));
  border-radius: 0 2px 2px 0;
  width: 62px;
  cursor: pointer;
}

.message__content-text > .quote > .quote > .quote:not(.quote--imbricated-shown)::after {
  ---inner-height: 20px;
  ---character-line-offset: 2px;
  position: absolute;
  content: '•••';
  top: calc((var(---height) - var(---inner-height)) / 2);
  height: var(---inner-height);
  line-height: calc(var(---inner-height) + var(---character-line-offset));
  margin-left: 8px;
  font-size: 16px;
  letter-spacing: 2px;
  color: var(--imbricated-quote-color);
}

.is-ios .message__content-text > .quote > .quote > .quote:not(.quote--imbricated-shown)::after {
  ---character-line-offset: -1px;
}

.quote > p {
  margin: .6em 0;
}

.sticker {
  ---size: 93.33px;
  width: var(---size);
  height: var(---size);
  filter: saturate(1.4);
  cursor: pointer;
}

.message__content-text > .sticker {
  ---size: 140px;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx), (MAX-width: 1024px) {
  .sticker {
    ---size: 70px;
  }

  .message__content-text > .sticker {
    ---size: 93.33px;
  }
}

.sticker--pack-10, /* Brice */
.sticker--pack-emoji {
  filter: saturate(1);
}

.sticker--pack-12, /* Bud */
.sticker--pack-13 { /* Duracell */
  filter: saturate(1.2);
}

.smiley {
  min-width: 15px;
  min-height: 15px;
}

@media (-webkit-min-device-pixel-ratio: 2) {
  .smiley {
    -moz-image-rendering: crisp-edges;
         image-rendering: pixelated;
  }
}

.smiley--2 { width: 25px; height: 23px; }
.smiley--16 { min-width: 14px; }
.smiley--17 { width: 16px; min-height: 11px; }
.smiley--22 { height: 16px; }
.smiley--27 { width: 22px; height: 25px; }
.smiley--29 { width: 45px; height: 40px; }
.smiley--30 { width: 16px; }
.smiley--32 { width: 36px; height: 44px; }
.smiley--36 { width: 23px; }
.smiley--38 { width: 50px; height: 33px; }
.smiley--41 { height: 16px; }
.smiley--42 { width: 46px; height: 40px; }
.smiley--44 { width: 37px; height: 41px; }
.smiley--48 { width: 44px; height: 41px; }
.smiley--49 { width: 64px; height: 43px; }
.smiley--51 { width: 65px; height: 45px; }
.smiley--52 { width: 58px; height: 57px; }
.smiley--54 { width: 20px; height: 19px; }
.smiley--56 { width: 50px; height: 33px; }
.smiley--57 { height: 16px; }
.smiley--58 { width: 44px; height: 39px; }
.smiley--59 { width: 50px; height: 38px; }
.smiley--60 { width: 29px; height: 21px; }
.smiley--61 { width: 35px; height: 20px; }
.smiley--62 { height: 26px; }
.smiley--63 { width: 50px; height: 33px; }
.smiley--64 { width: 51px; height: 31px; }
.smiley--65 { width: 47px; height: 38px; }
.smiley--66 { width: 26px; height: 20px; }
.smiley--69 { width: 16px; height: 17px; }
.smiley--70 { width: 48px; height: 42px; }
.smiley--cimer { width: 57px; height: 36px; }
.smiley--ddb { width: 49px; height: 39px; }
.smiley--fish { width: 16px; height: 16px; }
.smiley--hapoelparty { width: 44px; height: 26px; }
.smiley--loveyou { width: 63px; height: 29px; }
.smiley--nyu { height: 16px; }
.smiley--objection { width: 54px; height: 33px; }
.smiley--pave { width: 51px; height: 42px; }
.smiley--play { width: 18px; height: 27px; }
.smiley--siffle { width: 21px; }

.emoji {
  ---size: 20px;
  width: var(---size);
  height: var(---size);
  vertical-align: bottom;
  cursor: pointer;
}

.page-title .emoji,
.emoji--large {
  ---size: 40px;
}

.spoil {
  background: var(--spoil-background);
  display: inline-block;
  width: 70px;
  height: 22px;
  margin: -4px 0;
  border-radius: 2px;
  overflow: hidden;
  padding: 3px;
  box-shadow: 0 1px 2px var(--spoil-shadow-color);
}

.spoil--block {
  display: block;
  margin: 1em 0;
}

.spoil:not(.spoil--revealed) {
  cursor: pointer;
}

.spoil--revealed {
  overflow: visible;
  background: var(--spoil-revealed-background);
  display: inline;
  color: hsla(0, 0%, 100%, .8);
  box-shadow: inset 0 1px 2px var(--spoil-revealed-shadow-color);
}

.spoil--block.spoil--revealed {
  display: block;
  width: auto;
  height: auto;
}

.spoil__content {
  display: none;
}

.spoil--revealed > .spoil__content {
  display: inline;
}

.spoil__content :first-child {
  margin-top: 0;
}

.spoil__content :last-child {
  margin-bottom: 0;
}

.stickers-heads-container,
.stickers-list {
  ---stickers-heads-column-size: 44px;
}

.stickers-heads-container {
  ---offset-to-hide-scrollbar: 20px;
  right: calc(var(---offset-to-hide-scrollbar) * -1);
  bottom: 0;
  width: calc(var(---stickers-heads-column-size) + var(---offset-to-hide-scrollbar));
  position: fixed;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.stickers-heads {
  ---sticker-head-size: 40px;
  width: var(---stickers-heads-column-size);
  min-height: 100%;
  background: var(--stickers-heads-background);
  display: flex;
  flex-direction: column-reverse;
}

.stickers-heads__head {
  width: var(---stickers-heads-column-size);
  padding: calc((var(---stickers-heads-column-size) - var(---sticker-head-size)) / 2);
  border-top: 1px solid hsla(0, 0%, 100%, var(--stickers-heads-light));
  cursor: pointer;
}

.stickers-heads__head--selected,
.stickers-heads__head:active {
  border-top-color: var(--stickers-heads-selected-border-top-color);
  background: var(--stickers-head-selected-background);
  box-shadow: var(--stickers-head-selected-shadow);
}

.stickers-heads__head-image {
  height: var(---sticker-head-size);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.stickers-list {
  ---stickers-list-side-padding: 8px;
  ---stickers-per-line: 4;
  ---sticker-demo-size: calc((100vw - (var(---stickers-list-side-padding) * 2) - var(---stickers-heads-column-size)) / var(---stickers-per-line));
  padding-left: var(---stickers-list-side-padding);
  padding-right: calc(var(---stickers-list-side-padding) + var(---stickers-heads-column-size));
  display: flex;
  flex-direction: column-reverse;
}

.stickers-pack {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  padding: 8px 0;
  border-top: 1px solid var(--stickers-pack-delimiter-color);
}

.stickers-pack__sticker {
  width: var(---sticker-demo-size);
  height: var(---sticker-demo-size);
  padding: 2px;
  vertical-align: middle;
}

@media (min-width: 360px) {
  .stickers-list {
    ---stickers-per-line: 5;
  }
}

@media (min-width: 410px) {
  .stickers-list {
    ---stickers-per-line: 6;
  }
}

@media (min-width: 480px) {
  .stickers-list {
    ---sticker-demo-size: 72px;
  }
}

@media (min-width: 1025px) {
  .stickers-list {
    ---stickers-list-side-padding: 0px;
  }
}

.stage-sticker-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

@media (min-width: 1025px) {
  .stage-sticker-container__sticker {
    margin-top: -40px; /* bumps Y position by half of that */
  }
}

.stage-sticker-sd-container {
  width: 100%;
  position: absolute;
}

.stage-sticker-sd-container--hidden {
  display: none;
}

.stage-sticker-sd,
.stage-sticker-hd {
  width: calc(var(---width) / 2);
  height: calc(var(---height) / 2);
  display: block;
  margin: auto;
  margin-bottom: 40px;
}

@media (min-width: 600px) {
  .stage-sticker-sd,
  .stage-sticker-hd {
    width: var(---width);
    height: var(---height);
    margin-bottom: 60px;
  }
}

.stage-sticker-code {
  margin: auto;
  text-align: center;
  color: var(--sticker-code-color);
  font-size: 24px;
}

@media (min-width: 600px) {
  .sticker-code {
    font-size: 32px;
    margin-top: 35px;
  }
}

.input {
  ---padding-y: 6px;
  ---padding-x: 7px;
  width: 100%;
  font: 14px/1.4 -apple-system, sans-serif;
  background: var(--form-input-background);
  border: 1px solid var(--form-input-border-color);
  padding: var(---padding-y) var(---padding-x);
  outline: none;
  border-radius: 3px;
  color: var(--form-input-color);
  box-shadow: 0 1px 0 hsla(0, 0%, 100%, var(--card-box-shadow-opacity)),
              inset 0 2px var(--form-input-inner-shadow-blur-radius) hsla(0, 0%, 0%, var(--form-input-inner-shadow-opacity));
  -webkit-appearance: none;
  margin: 0;
}

@media (min-width: 1025px) {
  .input {
    font-size: 18px;
  }
}

.input:focus {
  box-shadow: 0 1px 0 hsla(0, 0%, 100%, var(--card-box-shadow-opacity)),
              inset 0 2px var(--form-input-focused-inner-shadow-blur-radius) hsla(0, 0%, 0%, var(--form-input-focused-inner-shadow-opacity));
}

.is-ios .input {
  font-size: 16px; /* for iOS not to zoom on focus */
}

.form {
  ---padding: 8px;
  ---side-width: 48px;
  background: var(--card-background);
  position: relative;
  z-index: 4; /* For FAB */
}

@media (min-width: 1025px) {
  .form {
    ---padding: 12px;
  }
}

.form--post {
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, var(--card-box-shadow-opacity));
  padding: var(---padding);
}

@media (min-width: 1025px) {
  .form--post {
    border-radius: 5px;
  }
}

.form--edit {
  padding: var(---padding) 0;
  margin-bottom: 24px;
}

.form__draft-mention {
  display: none;
  font-size: 13px;
  padding: 0 1px var(---padding); /* 1px to align with textarea's border */
}

@media (min-width: 1025px) {
  .form__draft-mention {
    font-size: 14px;
  }
}

.form__draft-mention--visible {
  display: block;
}

.form__draft-mention-action {
  color: var(--link-color);
  cursor: pointer;
  display: inline-block;
  margin: -5px;
  padding: 5px;
}

.form__error {
  display: none;
  color: var(--error-color);
  font-weight: bold;
  padding: 0 1px var(---padding); /* 1px to align with textarea's border */
}

.form__error--shown {
  display: block;
}

.form__bottom-container {
  display: flex;
}

.form__inputs-container {
  width: calc(100% - var(---side-width));
}

.form__input::-webkit-placeholder {
  color: var(--form-input-placeholder-color);
}
.form__input::placeholder {
  color: var(--form-input-placeholder-color);
}

.form__input--textarea {
  height: calc(160px + var(---padding-x) * 2);
  resize: none;
}

.form__title {
  margin-bottom: var(---padding);
}

.form__actions {
  padding-left: var(---padding);
  width: var(---side-width);
  position: relative;
}

.form__post-button {
  margin: 0 calc(-1 * var(---padding));
  padding: var(---padding);
  border: none;
  width: calc(var(---side-width) + var(---padding));
  background: transparent;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  position: absolute;
  bottom: 0;
}

.form__post-button-visible {
  ---button-size: calc(var(---side-width) - var(---padding));
  width: var(---button-size);
  height: var(---button-size);
  background: var(--form-post-button-default-background);
  border-radius: 99px;
  opacity: .1;
  position: relative; /* So that the --sending shadow is fully visible on iOS */
}

.form:valid .form__post-button-visible {
  opacity: 1;
  box-shadow: 0 2px 5px var(--form-post-button-shadow),
              inset 0 1px 0 hsl(0, 0%, var(--form-post-button-light));
  background-image: var(--form-post-button-background-image);
}

.form__post-button:focus .form__post-button-visible {
  ---border-width: 2px;
  border: var(---border-width) solid var(--form-post-button-focus-outline-color);
}

.form__post-button:active .form__post-button-visible {
  box-shadow: var(--form-post-button-visible-active-shadow);
}

@keyframes button-sending-pulse {
  0% {
    box-shadow: var(--form-post-button-visible-sending-shadow);
  }
  100% {
    box-shadow: var(--form-post-button-visible-sending-shadow-animation-end);
  }
}

.form:valid .form__post-button-visible--sending {
  box-shadow: var(--form-post-button-visible-sending-shadow);
  animation: button-sending-pulse alternate .5s .8s infinite linear;
}

.form__post-button-icon {
  ---background-x-position: calc(14px - (var(---padding) / 2));
  width: var(---button-size);
  height: var(---button-size);
  background: url(/images/icons/postButton.svg) no-repeat;
  background-position: var(---background-x-position) center;
  opacity: .5;
}

.form:valid .form__post-button-visible .form__post-button-icon {
  opacity: 1;
}

.form__post-button:focus .form__post-button-icon {
  width: calc(var(---button-size) - (var(---border-width) * 2));
  height: calc(var(---button-size) - (var(---border-width) * 2));
  background-position: calc(var(---background-x-position) - var(---border-width)) center;
}

.form__stickers-button {
  width: calc(var(---side-width) + var(---padding));
  height: calc(var(---side-width) + var(---padding));
  margin: calc(var(---padding) * -1);
  display: inline-block;
  background: url(/images/icons/stickers.svg) center no-repeat;
  background-size: 20px;
  opacity: .175;
  position: absolute;
  top: 53px;
}

.message--animating-its-deletion {
  filter: grayscale(1) blur(1px);
  transform: scaleY(0);
  opacity: .75;
}

.message__content-edit-mention-author {
  color: var(--admin-color-edit-mention);
}

.card {
  background: var(--card-background);
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, var(--card-box-shadow-opacity));
  margin: 10px 8px;
  position: relative;
  border-radius: 3px;
  padding: 10px;
  word-wrap: break-word;
}

@media (min-width: 400px) {
  .card {
    margin: 10px 10px;
    padding: 10px 12px;
  }
}

.card__header {
  color: var(--card__header-color);
  padding: 0 0 5px;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid var(--card-delimiter-color);
  margin: 0 -10px;
  text-indent: 10px;
}

@media (min-width: 400px) {
  .card__header {
    margin: 0 -12px;
    text-indent: 12px;
  }
}

.card__body {
  padding-top: 10px;
}

.home-bottom {
  text-align: center;
}

.home-bottom__button-container {
  margin: var(--button_-_additional-tap-target) 0;
}

.home-bottom__button-container + .home-bottom__button-container {
  border-top: 1px solid var(--home-bottom-links-delimiter-color);
}

.forum-pagination {
  display: flex;
  margin: 10px 0;
}

.forum-pagination__link {
  flex: 2;
  margin: -10px 0;
  padding: 10px;
}

.forum-pagination__link--first {
  flex: 1;
}

.forum-pagination__link--next {
  text-align: right;
}


.toast {
  visibility: hidden;
  position: fixed;
  top: 4px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  pointer-events: none;
  transform: translateY(-50px);
  transition: transform .15s ease-out;
}

.toast--shown {
  visibility: visible;
  transform: translateY(0);
}

.toast__label {
  display: inline-block;
  background: var(--toast-background);
  color: var(--toast-color);
  box-shadow: var(--toast-box-shadow);
  border-radius: 4px;
  font-weight: bold;
  padding: 8px 10px 6px;
  cursor: default;
  pointer-events: auto;
}

.error {
  text-align: center;
  color: var(--error-color);
  padding: 10px;
}

.error__message {
  margin-top: 15px;
}

.button {
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: .5px;
  text-transform: uppercase;
  white-space: nowrap;
  display: inline-block;
  margin: calc(-1 * var(--button_-_additional-tap-target));
  padding: var(--button_-_additional-tap-target);
  outline: none;
  -webkit-appearance: none;
  border: none;
}

.button__visible {
  ---text-shadow-y: 1px;
  border-radius: 3px;
  display: inline-block;
  padding: 7px 12px;
  text-shadow: 0 var(---text-shadow-y) 0px hsla(0, 0%, 0%, var(--button__visible-text-shadow-opacity));
}

.button:active .button__visible {
  ---text-shadow-y: -1px;
}

.button__visible--primary {
  color: var(--button__visible--primary-color);
  background: var(--button__visible--primary-background);
  box-shadow: var(--button__visible--primary-shadow);
}

@media (hover: hover) {
  .button:hover .button__visible--primary {
    color: var(--button--hover__visible--primary-color);
    background: var(--button--hover__visible--primary-background);
    box-shadow: var(--button--hover__visible--primary-shadow);
  }
}

.button:active .button__visible--primary {
  color: var(--button--active__visible--primary-color);
  background: var(--button--active__visible--primary-background);
  box-shadow: var(--button--active__visible--primary-shadow);
}

.button__visible--profile {
  ---background-opacity: .5;
  ---background-opacity-state-multiplier: 1;
  color: hsl(0, 0%, 0%);
  text-shadow: none;
  background: hsla(0, 0%, 100%, calc(var(---background-opacity) * var(---background-opacity-state-multiplier)));
  box-shadow: var(--button__visible--profile-shadow);
}

@supports (backdrop-filter: unset) or (-webkit-backdrop-filter: unset) {
  .button__visible--profile {
    ---background-opacity: .33;
    ---backdrop-blur: 7px;
    -webkit-backdrop-filter: blur(var(---backdrop-blur));
            backdrop-filter: blur(var(---backdrop-blur));
  }
}

@media (hover: hover) {
  .button:hover .button__visible--profile {
    ---background-opacity-state-multiplier: 1.2;
    box-shadow: var(--button--hover__visible--primary-shadow);
  }
}

.button:active .button__visible--profile {
  ---background-opacity-state-multiplier: .75;
  box-shadow: var(--button--active__visible--profile-shadow);
}

.button__visible--flat {
  color: var(--link-color);
}

.button__visible--flat.button__visible--danger {
  color: var(--danger-color);
}

@media (hover: hover) {
  .button:hover .button__visible--flat {
    filter: brightness(1.2);
  }
}

.button:active .button__visible--flat {
  filter: brightness(.5);
}

.page-title {
  ---side-margin: 8px;
  font-size: 21px;
  margin: 10px var(---side-margin) 0;
  position: relative;
  word-wrap: break-word;
  -webkit-user-select: text;
     -moz-user-select: text;
}

.page-title--larger {
  font-size: 24px;
}

@media (min-width: 400px) {
  .page-title {
    ---side-margin: 10px;
    font-size: 24px;
  }

  .page-title--larger {
    font-size: 27px;
  }
}

@media (min-width: 1025px) {
  .page-title {
    ---side-margin: 0;
    font-size: 29px;
  }

  .page-title--larger {
    font-size: 32px;
  }
}

.page-title__link {
  display: inline-block;
  padding: 10px;
  margin: -10px;
}

.page-title__link,
.page-title--topic {
  color: var(--page-title-color);
}

@media (MAX-width: 1024px) {
  .page-title--with-menu-mobile {
    width: calc(100% - var(---side-margin) * 2 - 16px);
  }
}

.forum-search-button {
  ---padding-y: 12px;
  ---padding-x: 14px;
}

.forum-search {
  ---margin-x: 10px;
  margin: 15px var(---margin-x);
}

@media (min-width: 1025px) {
  .forum-search {
    ---margin-x: 0;
  }
}

.forum-search__input {
  ---padding-y: 12px;
  ---padding-x: 14px;
}

.forum-search__result {
  display: flex;
  padding: 10px 0;
}

.forum-search__result + .forum-search__result {
  border-top: 1px solid var(--card-delimiter-color);
}

.forum-search__result:active {
  filter: brightness(.5);
}

.forum-search__result-title {
  flex-grow: 1;
  font-size: 16px;
}

.forum-search__result-messages {
  display: flex;
  color: var(--color);
}

.forum-search__result-messages-figure {
  font-size: 14px;
  margin: auto;
}

.forum-search__result-messages-text {
  font-size: 9px;
  text-align: center;
  margin: auto;
  margin-left: 5px;
  line-height: 1;
}

@media (min-width: 1025px) {
  .subforums-mobile-list {
    display: none;
  }
}

.poll-mention {
  margin: 0 12px 1em;
  color: var(--poll-mention_-_color);
}

@media (min-width: 1025px) {
  .poll-mention {
    padding-left: var(--message__content_-_desktop-margin-left);
  }
}

.canvas--profile a {
  color: var(--profile-link-color);
  text-decoration: underline;
}

.profile {
  ---margin-between-elements: 20px;
  max-width: 616px;
  margin: auto;
}

.profile__nickname {
  text-align: center;
  font-size: 2.15em;
  color: hsl(0, 0%, 100%);
  text-shadow: 0 0 2px hsl(0, 0%, 0%);
  letter-spacing: 1px;
  margin: var(---margin-between-elements) 0;
  line-height: 1; /* Removes additional "margin" */
  -webkit-user-select: text;
     -moz-user-select: text;
}

.profile__banished-mention {
  color: var(--danger-color);
  text-shadow: 0 1px 25px var(--profile__banished-mention_-_text-shadow-color);
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: .5px;
}

.profile__avatar {
  display: block;
  margin: var(---margin-between-elements) auto;
  max-width: 100%;
  box-shadow: 0 2px 2px hsla(0, 0%, 0%, .075)
            , 0 1px 0 1px hsla(0, 0%, 0%, .075);
}

@media (min-width: 601px) {
  .profile__avatar {
    border-radius: 1px;
  }
}

.profile__info-block-container {
  display: flex;
  width: calc(100% - 8px);
  margin: var(---margin-between-elements) 4px;
}

.profile__card {
  ---light: .25;
  ---background-opacity: .5;
  background: hsla(0, 0%, 100%, var(---background-opacity));
  padding: 1px 0;
  color: hsl(0, 0%, 0%);
  border-radius: 3px;
  box-shadow: 0 2px 2px hsla(0, 0%, 0%, .075)
            , 0 1px 0 1px hsla(0, 0%, 0%, .075)
            , inset 0 1px 0 hsla(0, 0%, 100%, var(---light));
  -webkit-user-select: text;
     -moz-user-select: text;
}

@supports (backdrop-filter: unset) or (-webkit-backdrop-filter: unset) {
  .profile__card {
    ---light: .17;
    ---background-opacity: .33;
    ---backdrop-blur: 7px;
    -webkit-backdrop-filter: blur(var(---backdrop-blur));
            backdrop-filter: blur(var(---backdrop-blur));
  }
}

.profile__card-header {
  padding: .3rem calc(.5rem + 1px) .2rem;
  margin-bottom: -1px;
  font-size: 11px;
  letter-spacing: .67px;
  color: hsla(0, 0%, 0%, .33);
  font-weight: bold;
  border-bottom: 1px solid hsla(0, 0%, 0%, .125);
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
  cursor: default;
}

.is-ios .profile__card-header {
  border-bottom: .5px solid hsla(0, 0%, 0%, .2);
}

.profile__card-header--danger {
  color: var(--danger-color);
}

.profile__card-body {
  padding: 0 calc(.5rem + 1px);
}

.profile__card-body p {
  margin: .5rem 0;
}

.profile__info-block {
  width: 100%;
  margin: 0 4px;
}

.profile__user-text {
  margin: var(---margin-between-elements) 8px;
}

.profile__info-block-body {
  color: hsla(0, 0%, 0%, .8);
  font-size: .9em;
  text-align: center;
}

.profile__info-block-body strong {
  font-size: 1.4rem;
  letter-spacing: .5px;
}

.profile__info-block-body em {
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
}

.profile__centered {
  text-align: center;
  margin: var(---margin-between-elements) 0;
}

@media (hover: hover) {
  .emoji:hover,
  .sticker:hover,
  .noelshack-link:hover,
  .page-title__link:hover,
  .menu-mobile-items__item:hover,
  .topic:hover,
  .menu__item:hover,
  .aside__top-button:hover,
  .header__link:hover,
  .message__byline-author-link:hover,
  .pagination-topic__page-link--not-active:hover {
    filter: brightness(1.2);
  }
}

.emoji:active,
.sticker:active,
.noelshack-link:active,
.page-title__link:active,
.menu-mobile-items__item:active,
.topic:active,
.menu__item:active,
.aside__top-button:active,
.header__link:active,
.message__byline-author-link:active,
.pagination-topic__page-link--not-active:active {
  filter: brightness(.5);
}

.cant-display-notice {
  font-size: 86.67%;
  background: var(--cant-display-notice_-_color);
  display: inline-block;
  padding: 4px 6px;
  border-radius: 2px;
}
